// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-json-editor {
  padding: @component-padding;
  max-height: 100%;
  overflow-y: auto;

  * {
    word-wrap: break-word;
    max-width: 400px;
  }
}
